/* .block{
      width: 200px;
      height: 200px;
      margin: 5px;
      text-align: center;
}
#block1{
    background-color: rgb(152, 202, 51);
 
}
#block2{
    background-color: violet
}
#block3{
    background-color: springgreen;

}
#block4{
    background-color: seagreen;
 
}
#block5{
    background-color:deeppink;
}
.contain{

    /* display: flex; */


    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
}

.timer-box {
    text-align: center;
}

#timer-display {
    font-size: 50px;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}
