body {
  height: 100vh;
  display: flex;
  justify-content: center;   
  align-items: center;  
}
.container{
  width: 750px;
  height: 600px;
  border-radius: 10px;
  background: linear-gradient(to right, #667eea, #764ba2);
}
table {
    margin-left:30px;
    width: 650px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-radius:10px;
}
caption{
    padding: 20px;
    font-size: large;
    font-weight: 900;
}
th {
  background-color: #4a90e2;
  color: white;
  padding: 10px;
  text-align: center;
}
td {
  background-color: #ffffff;
  color: #ba4242;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
}
tr{
  


  
}

.head{
   width:auto;
}

